[Unit]
Description=FFMpeg stream
After=network-online.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=11
ExecStart = /usr/bin/ffmpeg -fflags nobuffer -hide_banner -nostats -rtsp_transport tcp -i {{ strem.get("url") }} -c:v libx264 -preset ultrafast -f segment -s 480x360 -c:a copy -hls_flags delete_segments+append_list -live_start_index 10 -segment_list_flags live -segment_time 2 -segment_list_size 2 -segment_format mpegts -segment_list {{strem.get("folder")}}index.m3u8 -segment_list_type m3u8 {{strem.get("folder")}}%%3d.ts
ExecStop=/bin/kill -SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target